
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


<div class="container">
    <div  class="Home Buttons text-center">
    <h1>Changes in Menu</h1>
</div>
</div >

    <div >
       <div class="row">
         <div >
           <b></b>
           <br>
           <div  class="Home Buttons text-center">
           <button class="btn btn-primary btn-lg" data-toggle="modal" ng-click="showPopup('../client/Component/View/view.html',1)" style="margin-top: 10px;"> Add Item</button>
           
           <button class="btn btn-primary btn-lg" data-toggle="modal" ng-click="showPopup('../client/Component/View/Category.html',2)" style="margin-top: 10px;">Add Category</button>

           <button class="btn btn-primary btn-lg" data-toggle="modal" ng-click="showPopup('../client/Component/View/subCategory.html',3)" style="margin-top: 10px;">Add SubCategory</button>
        </div>
         </div>
       </div>
                  
    </div>
  </div>
</div>